.lottery {
    width: 100%;
    /*border: 1px solid LightGrey;*/
}

.lottery caption {
    caption-side: top;
}

#right-lottery caption {
    text-align: right;
}

.lottery .button {
    text-align: center;
}

.lottery button {
    margin: 20px 0px;
}