{% extends "global/BBPage.html" %}
{% load otree static %}

{% block scripts %}

    <script src="{% static 'ambiguity/measure-ambiguity.js' %}"></script>
    <script>
        saveAnswers({{ probabilities|length }});
    </script>

    {% if participant.vars.event == 'blower' %}
        {{ block.super }}
        <script>
            let blower = new BingoBlower();
            blower.addBalls({{ number_balls|json }});
        </script>
    {% endif %}

{% endblock %}

{% block title %}
    Question {{ player.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    {% include 'measure_ambiguity/includes/ChoiceTask.html' %}

    <input type="hidden" name="choices" id="hidden-choices"/>

    <p>
        <button class="otree-btn-next btn btn-primary" disabled>Next</button>
    </p>

{% endblock %}
