{% load otree %}

{% block styles %}

    <style>
        .ball {
            display: block;
            background: black;
            border-radius: 50%;
            width: 100%;
            padding-top: 100%;
        }

        .cell {
            width: 90px;
            height: 90px;
            padding: 10px;
        }

        .state-1 {
            background: {{ Constants.robot_colour_states.0 }};
        }

        .state-2 {
            background: {{ Constants.robot_colour_states.1 }};
        }

        .state-3 {
            background: {{ Constants.robot_colour_states.2 }};
        }
    </style>

{% endblock styles %}